extends layout

block content
  form(id='form', method='post', action='/create')
    label(for='username') UserName: 
    input(type='text', name='username')
    br
    label(for='Password') password:
    input(type='text', name='password')
    br
    label(for='age') Age: 
    input(type='text', name='age')
    br
    label(for='email') email:
    input(type='text', name='email')
    br    
    label(for='animal') Previous Animals: 
    select(name='animal')
      option(value="Dog") Dog
      option(value="Cat") Cat
      option(value="Other") Other
      option(value="None") None
    br
    input(type='submit', value='Register')
