extends layout

block content
  form(id='form', method='post', action='/create')
    label(for='username') UserName: 
    input(type='text', name='username')
    br
    label(for='password') password:
    input(type='text', name='password')
    br
    label(for='age') Age: 
    input(type='text', name='age')
    br
    label(for='email') email:
    input(type='text', name='email')
    br    
    label(for='animal') Previous Animals: 
    select(name='animal')
      option(value="Dog") Dog
      option(value="Cat") Cat
      option(value="Other") Other
      option(value="Bird") Bird
    br
    label(for='color') Favorite Color: 
    select(name='color')
      option(value="Red") Red
      option(value="Blue") Blue
      option(value="Green") Green
      option(value="Other") Other
    br
    label(for='aliens') Aliens are Real: 
    select(name='aliens')
      option(value="True") True
      option(value="False") False
    br
    input(type='submit', value='Register')
