extends layout

block content
  form(id='form', method='post', action='/create')
    label(for='username') UserName: 
    input(type='text', name='username')
    br
    label(for='Password') password:
    input(type='text', name='password')
    br
    label(for='age') Age: 
    input(type='text', name='age')
    br
    label(for='email') email:
    input(type='text', name='email')
    br    
    label(for='species') Species: 
    select(name='species')
      option(value="Human") Human
      option(value="Vampire") Vampire
      option(value="Werewolf") Werewolf
      option(value="Zombie") Zombie
    br
    input(type='submit', value='Add Person')
